html,
body,
#root {
  height: 100%;
}

body {
  background-color: hsl(180deg, 25%, 92%);
  margin: 0;
}

/*
  Adds a perspective decoration block
  to the main body background
*/
body:before {
  content: "\200B";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  background: hsl(195deg, 20%, 86%);
}

*,
*:before,
*:after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*
  A utility class to totally remove something from the screen,
  while still keeping it available for screen-readers.
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*
  A utility class to style scroll bars in a 
  somewhat cross-browser friendly way
*/
:root {
  /* Can be overridden using a CSS custom property
  on elements that use this class */
  --scrollbar-foreground: hsl(0deg, 0%, 70%);
  --scrollbar-background: transparent;
  --scrollbar-padding: 0px;
}
.styled-scroll {
  /* web standard - Firefox supports this */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
/* webkit prefixed - for Safari, Chrome, chromium-based browsers */
.styled-scroll::-webkit-scrollbar {
  width: calc(6px + var(--scrollbar-padding));
  height: calc(6px + var(--scrollbar-padding));
}
.styled-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
.styled-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-foreground);
  border: calc(var(--scrollbar-padding) / 2) solid var(--scrollbar-background);
  border-radius: calc(var(--scrollbar-padding) + 6px);
}
